$color-black: #000000;
$color-white: #ffffff;
$color-white-opacity50: #ffffffe6;
$color-darkGray: #555555;
$color-lightGray: #dddddd;
$color-lightGray-opacity50: #dddddd80;
$color-blue: #28add1;
$color-orange: #f56a56;

$font-16: 16px;
$font-24: 24px;
$font-48: 48px;
