.btn {
  font-family: "Raleway";
  font-size: $font-16;
  text-transform: uppercase;
  width: auto;
  height: 38px;
  padding: 0 16px;
  text-align: center;
  background: $color-orange;
  color: $color-white;
  border: 1px solid $color-orange;
  border-radius: 2px;
}
