.footer {
  width: 100vw;
}

.goToTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: $color-blue;
  color: $color-white;
  img {
    width: 32px;
  }
  p {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.credits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 8px 200px;
  img {
    height: 24px;
  }
}
